@namespace Common.Web

@using Syncfusion.Blazor.Popups

    <SfDialog IsVisible=@IsOpen IsVisibleChanged=@IsOpenChanged Width="1000px" >
        <DialogEvents OnOverlayClick=@OnOverlayclick />
        <DialogAnimationSettings Effect=@DialogEffect.Zoom Duration=400 Delay=0 />
        <DialogTemplates>
            <Header>
                <h3>@Title</h3>
            </Header>
            <Content>
                @ChildContent
            </Content>
        </DialogTemplates>
    </SfDialog>

@code
{
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public bool IsOpen { get; set; } = false;

    [Parameter]
    public EventCallback<bool> IsOpenChanged { get; set; }

    [Parameter]
    public string Title { get; set; }

    private async Task OnOverlayclick()
    {
        await IsOpenChanged.InvokeAsync(false);
    }
}