@page "/charts"

<h1>Column chart:</h1>

<ColumnDiagram Data=@Data />

<h1>Pie chart:</h1>

<PieDiagram Data=@Data />

@code {

    public List<ChartData> Data { get; set; } = new List<ChartData>
    {
        new ChartData { Id="1", Label="1", Data=40, Color="blue"  },
        new ChartData { Id="2", Label="2", Data=60, Color="red"  }
    };
}
