@page "/inputs"

@using MatBlazor
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Buttons


<div class="paper" style="display: flex; flex-direction: row;">
    <div style="display: flex; flex-direction: column; width: 800px; margin: 20px; height: 200px;">
        <h1>Syncfusion:</h1>
        <EditForm Model=@Person OnValidSubmit=@OnSubmit>
            <DataAnnotationsValidator />
            <SfTextBox  @bind-Value=@Person.Name FloatLabelType=@FloatLabelType.Auto Placeholder="Name" CssClass="e-outline e-bigger"></SfTextBox>
            <SfButton CssClass="e-outline">Cancel </SfButton>
            <SfButton CssClass="e-primary">Send </SfButton>
        </EditForm>
    </div>
    <div style="display: flex; flex-direction: column; width: 800px; margin: 20px; height: 200px;">
        <h1>Matblazor:</h1>
        <EditForm Model=@Person OnValidSubmit=@OnSubmit>
            <DataAnnotationsValidator />
            <MatTextField @bind-Value=@Person.Name Label="Name" Outlined="true" />
            <MatButton Type="cancel" Outlined="true">Cancel </MatButton>
            <MatButton Type="submit" Raised="true">Submit </MatButton>
        </EditForm>
    </div>
</div>

@code {

    private Person Person { get; set; } = new Person();

    private void OnSubmit()
    {

    }

}
