@page "/"

@using ChartsDemo.Common.Shared;

<div style="margin-top: 50px; width: 100%;">
    <StockDiagram Data=@Prices1 />
    <StockDiagram Data=@Prices2 />
</div>

@code
{
    private List<StockPrice> Prices1 { get; set; } = new List<StockPrice>();
    private List<StockPrice> Prices2 { get; set; } = new List<StockPrice>();

    protected override Task OnParametersSetAsync()
    {
        var list1 = new List<StockPrice>();
        for (int i = 0; i < 100; i++)
            list1.Add(new StockPrice
            {
                Date = DateTime.Today.AddYears(-1).AddDays(i),
                Volume = 100,
                Open = 100 + i,
                Close = 100 + i,
                High = 100 + 2 * i,
                Low = 100 - i
            });
        Prices1 = list1;

        var list2 = new List<StockPrice>();
        for (int i = 0; i < 100; i++)
            list2.Add(new StockPrice
            {
                Date = DateTime.Today.AddYears(-1).AddDays(i),
                Volume = 100,
                Open = 100,
                Close = 100,
                High = 100,
                Low = 100
            });
        Prices2 = list2;
        return Task.CompletedTask;
    }
}
